.mobile-header{
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:12px 18px;
    background:#fff;
    border-bottom:1px solid #eee;
}

.mobile-logo{
    display:flex;
    align-items:center;
    gap:10px;

    flex:1;
    margin-left:15px;
}

.mobile-logo-img{
    width:34px;
    height:34px;
}

.mobile-logo h3{
    margin:0;
    font-size:26px;
    font-weight:600;
}

.mobile-icon-btn{
    background:none;
    border:none;
    font-size:28px;
    cursor:pointer;
}

.mobile-profile{
    position:relative;
}

.mobile-profile-dropdown{
    position:absolute;
    top:50px;
    right:0;

    width:170px;
    background:#fff;

    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,.15);

    overflow:hidden;
    z-index:9999;
}

.mobile-profile-info{
    padding:15px;
    font-weight:600;
    border-bottom:1px solid #eee;
}

.mobile-profile-item{
    width:100%;
    border:none;
    background:#fff;

    padding:14px;
    text-align:left;

    cursor:pointer;
}

.mobile-profile-item:hover{
    background:#f5f5f5;
}

.mobile-profile-item.logout{
    color:red;
}